/* ==== Colores Base ==== */
:root {
    --backgroud-page: #000000;
    --color-titles: #ffffff;
    --color-articles: #d4af37;
    --color-paragraphs: #f8f7f7;
    --backgroud-article: #1a1a1a;
    --bg-card-perfume: #27272a;
    --primary-perfume: #d4af37;
    --primary-perfume-800: #9b8027;
    --primary-perfume-shadow: #413511;
    --paragraph-perfume: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary-perfume) 50%, var(--paragraph-perfume) 125%);
}

:root[data-theme="girl"] {
    --backgroud-page: #f8ecea;
    /* Negro profundo pero con un matiz cálido */
    --color-titles: #f2817a;
    /* Rosa lavanda claro, elegante para títulos */
    --color-articles: #D4AF37;
    /* Se mantiene como dorado de lujo */
    --color-paragraphs: #000706;
    /* Texto claro neutro */
    --backgroud-article: #f6cfcc;
    /* Fondo oscuro de sección */

    --bg-card-perfume: #f8ecea;
    /* Gris oscuro con tono malva/lavanda muy sutil */
    --primary-perfume: #d6b6b5;
    /* Champagne rosado */
    --primary-perfume-800: #e7857b;
    /* Versión más oscura del rosado */
    --primary-perfume-shadow: #9b5649;
    /* Sombra profunda femenina */
    --paragraph-perfume: #9e908e;
    /* Texto o acento rosado claro */

    --zinc-800: #FFF8F0;
    /* Fondo profundo gris oscuro (sin cambio) */
    --bg-linear: linear-gradient(180deg, var(--primary-perfume) 0%, var(--paragraph-perfume) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: 'Segoe UI', sans-serif;
    color: var(--color-titles);
    background-color: var(--backgroud-page);
    padding-top: 10rem;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    line-height: 1.6;
    padding: 1px;
}

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 8vw;
    background-color: var(--backgroud-page)(0, 0, 0, 1);
    z-index: 9999;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    transform: scale(0.95);
    background-color: rgba(63, 63, 63, 0.589);
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: clamp(0.4rem, 1.5vw, 4rem);
    align-items: center;
    justify-content: center;
}

.nav-links li a,
.sum {
    font-size: clamp(0.6rem, 2vw, 3rem);
    text-decoration: none;
    color: var(--color-titles);
    font-weight: bold;
    transition: color 0.3s, transform 0.3s ease-in-out;
    display: flex;
}

.nav-links li a:hover,
.sum:hover {
    color: var(--color-articles);
    transform: scale(1.1);
}

.navbar img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.navbar img:hover {
    transform: scale(1.1);
}

details {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

summary {
    color: white;
    padding: 14px 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--backgroud-page);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

details[open] .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: var(--zinc-800);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--bg-linear);
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    /* Alinea el grid como bloque */
    align-items: center;
    gap: 50px;
    /* en lugar de row-gap + column-gap */
    padding: 20px 0 10px;
    /* evita doble padding */
    width: 100%;
    max-width: 1200px;
    /* o el límite que prefieras */
    margin: 0 auto;
    /* Esto lo centra horizontalmente */
}


.perfume {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 1rem;
    width: 20rem;
    background-color: var(--bg-card-perfume);

    border-radius: 1rem;
}

.img-perfume {
    overflow: hidden;
    cursor: pointer;

    position: relative;
    z-index: 5;

    width: 100%;
    height: 18rem;
    background-color: var(--primary-perfume-800);

    border-radius: 0.5rem;
}

.img-perfume .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 3rem;
    fill: var(--paragraph-perfume);
}

.perfume-title {
    overflow: clip;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-articles);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.perfume-size {
    font-size: 0.75rem;
    color: var(--paragraph-perfume);
}

.list-size {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    margin-top: 0.25rem;
}

.list-size .item-list {
    list-style: none;
}

.list-size .item-list-button {
    cursor: pointer;

    padding: 0.5rem;
    background-color: var(--zinc-800);

    font-size: 0.75rem;
    color: var(--paragraph-perfume);

    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;

    transition: all 0.3s ease-in-out;
}

.item-list-button:hover {
    border: 2px solid var(--color-articles);
}

.item-list-button:focus {
    background-color: var(--primary-perfume);
    color: var(--zinc-800);
    border: 2px solid var(--primary-perfume-shadow);

    box-shadow: inset 0px 1px 4px var(--primary-perfume-shadow);
}

.action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--paragraph-perfume);
}

.cart-button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    padding: 0.5rem;
    width: 100%;
    background-image: var(--color-titles);

    font-size: 1rem;
    font-weight: 500;
    color: var(--color-articles);
    text-wrap: nowrap;

    border: 2px solid hwb(56 53% 2% / 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--zinc-800);
}

.cart-button .cart-icon {
    width: 1rem;
}


footer {
    background-color: var(--zinc-800);
    color: var(--color-paragraphs);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

main {
    padding: 40px 20px;
}

#hombre h1 {
    text-align: center;
    color: var(--color-articles);
    margin-bottom: 10px;
    font-size: 2rem;
    margin-top: 4rem;

}

#hombre p {
    text-align: center;
    color: var(--color-titles);
    margin-bottom: 30px;
}

#main-carrucel {
    text-align: center;
    position: relative;
    /* Center text */

}

.carrousel {
    width: 80%;
    justify-self: center;
    margin-top: 80px;

}

.conteCarrousel {
    width: 100%;
    height: 37.5rem;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    display: grid;
    justify-items: center;

}

.itemCarrousel {
    position: relative;
    width: 100%;
    height: 100%;

}

.itemCarrouselTarjeta {
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows {
    position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.itemCarrouselArrows>i:hover {
    cursor: pointer;
}

#itemCarrousel-1 {
    background-color: rgb(27, 27, 27);

}

#itemCarrousel-2 {
    background-color: rgb(32, 32, 32);
}

#itemCarrousel-3 {
    background-color: rgb(5, 5, 5);
}

.conteCarrouselController {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController>a {
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows>a>i {
    color: white;
}

img {
    width: 100%;
    height: auto;
    align-items: center;
    object-fit: contain;

}

.card {
    position: fixed;
    /* Fijo en pantalla */
    bottom: 20px;
    /* Separado 20px del borde inferior */
    left: 1rem;
    /* Separado 20px del borde izquierdo */
    z-index: 9999;
    /* Por encima de otros elementos */

    max-width: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
        inset 0 0 5px rgba(255, 255, 255, 0.274),
        0 5px 5px rgba(0, 0, 0, 0.164);
    transition: 0.5s;
}

.card:hover {
    animation: ease-out 5s;
    background: rgba(173, 173, 173, 0.05);
}

.card ul {
    padding: 1rem;
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.card ul li {
    cursor: pointer;
    position: relative;
}

/* Imagen usada como icono */
.svg-img {
    height: clamp(2.5rem, 3vw, 5rem);
    width: clamp(2.5rem, 3vw, 5rem);
    ;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5),
        0 5px 5px rgba(0, 0, 0, 0.164);
    transition: all 0.3s;
    filter: invert(65%) sepia(54%) saturate(535%) hue-rotate(8deg) brightness(98%) contrast(85%);
}

/* Texto emergente al pasar el mouse */
.text {
    opacity: 0;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s;
    color: rgb(255, 174, 0);
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
        -10px 0 1px rgba(153, 153, 153, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5),
        0 5px 5px rgba(0, 0, 0, 0.082);
}

/* Proyección isométrica al hacer hover */
.iso-pro {
    transition: 0.5s;
}

.iso-pro:hover a>.svg-img {
    transform: translate(15px, -15px);
}

.iso-pro:hover .text {
    opacity: 1;
    transform: translate(25px, -2px) skew(-5deg);
}

.iso-pro:hover .svg-img {
    transform: translate(5px, -5px);
}

/* Círculos de fondo decorativos */
.iso-pro span {
    opacity: 0;
    position: absolute;
    border-color: #1877f2;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5),
        0 5px 5px rgba(0, 0, 0, 0.164);
    border-radius: 50%;
    transition: all 0.3s;
    height: 60px;
    width: 60px;
}

.iso-pro:hover span {
    opacity: 1;
}

.iso-pro:hover span:nth-child(1) {
    opacity: 0.2;
}

.iso-pro:hover span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.iso-pro:hover span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

#container-flayer {
    text-align: center;
    /* Center text */
    padding: 2rem 2rem;
}



.flayer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.8;
    padding: 5rempx;
    border-radius: 10px;

}

.flayer-text {
    text-align: center;
    position: relative;
    color: var(--color-titles);

}

.flayer-text h2 {
    color: var(--color-articles);
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

.flayer-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

#mujer {
    background-color: var(--backgroud-article);
}

#mujer h1 {
    text-align: center;
    color: var(--color-articles);
    margin-bottom: 10px;
    font-size: 2rem;
    margin-top: 4rem;

}

#mujer p {
    text-align: center;
    color: var(--paragraph-perfume);
    margin-bottom: 30px;
}