/* ==== Colores Base ==== */
:root {
    --background-page: #000000;
    --color-titles: #ffffff;
    --color-articles: #d4af37;
    --color-paragraphs: #f8f7f7;
    --backgroud-article: #1a1a1a;
    --bg-card-perfume: #27272a;
    --primary-perfume: #d4af37;
    --primary-perfume-800: #9b8027;
    --primary-perfume-shadow: #413511;
    --paragraph-perfume: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary-perfume) 50%, var(--paragraph-perfume) 125%);
}
:root[data-theme="nicho"] {
    --backgroud-page: #000000;
    --color-titles: #ffffff;
    --color-articles: #d4af37;
    --color-paragraphs: #f8f7f7;
    --backgroud-article: #757474;
    --bg-card-perfume: #27272a8c;
    --primary-perfume: #d4af37;
    --primary-perfume-800: #9b8027;
    --primary-perfume-shadow: #413511;
    --paragraph-perfume: #f7f1f1;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary-perfume) 50%, var(--paragraph-perfume) 125%);
}

:root[data-theme="invierno"] {
    --background-page: #446378;
    --color-titles: #efebda;
    --color-articles: #33384d;
    --color-paragraphs: #efebda;
    --backgroud-article: #c9c9c8;
    --bg-card-perfume: #82a4b3;
    --primary-perfume: #f6debf;
    --primary-perfume-800: #c9c9c8;
    --primary-perfume-shadow: #446378;
    --paragraph-perfume: #f7f1f1;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary-perfume) 50%, var(--paragraph-perfume) 125%);
}



:root[data-theme="girl"] {
    --background-page: #f8ecea;
    /* Negro profundo pero con un matiz cálido */
    --color-titles: #f2817a;
    /* Rosa lavanda claro, elegante para títulos */
    --color-articles: #D4AF37;
    /* Se mantiene como dorado de lujo */
    --color-paragraphs: #000706;
    /* Texto claro neutro */
    --backgroud-article: #f6cfcc;
    /* Fondo oscuro de sección */

    --bg-card-perfume: #f8ecea;
    /* Gris oscuro con tono malva/lavanda muy sutil */
    --primary-perfume: #d6b6b5;
    /* Champagne rosado */
    --primary-perfume-800: #e7857b;
    /* Versión más oscura del rosado */
    --primary-perfume-shadow: #9b5649;
    /* Sombra profunda femenina */
    --paragraph-perfume: #9e908e;
    /* Texto o acento rosado claro */

    --zinc-800: #FFF8F0;
    /* Fondo profundo gris oscuro (sin cambio) */
    --bg-linear: linear-gradient(180deg, var(--primary-perfume) 0%, var(--paragraph-perfume) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: 'Segoe UI', sans-serif;
    color: var(--color-titles);
    background-color: var(--background-page);
    padding-top: 10rem;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    line-height: 1.6;
    padding: 1px;
}

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 8vw;
    background-color: var(--backgroud-page)(0, 0, 0, 1);
    z-index: 9999;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    transform: scale(0.95);
    background-color: rgba(63, 63, 63, 0.589);
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: clamp(0.4rem, 1.5vw, 4rem);
    align-items: center;
    justify-content: center;
}

.nav-links li a,
.sum {
    font-size: clamp(0.6rem, 2vw, 3rem);
    text-decoration: none;
    color: var(--color-titles);
    font-weight: bold;
    transition: color 0.3s, transform 0.3s ease-in-out;
    display: flex;
}

.nav-links li a:hover,
.sum:hover {
    color: var(--color-articles);
    transform: scale(1.1);
}

.navbar img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.navbar img:hover {
    transform: scale(1.1);
}

details {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

summary {
    color: white;
    padding: 14px 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--backgroud-page);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

details[open] .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: var(--zinc-800);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--bg-linear);
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    /* Alinea el grid como bloque */
    align-items: center;
    gap: 50px;
    /* en lugar de row-gap + column-gap */
    padding: 20px 0 10px;
    /* evita doble padding */
    width: 100%;
    max-width: 1200px;
    /* o el límite que prefieras */
    margin: 0 auto;
    /* Esto lo centra horizontalmente */
}


.perfume {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 1rem;
    width: 20rem;
    background-color: var(--bg-card-perfume);

    border-radius: 1rem;
}

.img-perfume {
    overflow: hidden;
    cursor: pointer;

    position: relative;
    z-index: 5;
    margin-top: 0;
    width: 100%;
    height: 18rem;
    background-color: var(--primary-perfume-800);

    border-radius: 0.5rem;
}

.img-perfume.image {
    
    height: 100%;
    position: relative;
    border-radius: 0.5rem;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;

}

.perfume-title {
    overflow: clip;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-articles);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.perfume-size {
    font-size: 0.75rem;
    color: var(--paragraph-perfume);
}

.list-size {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    margin-top: 0.25rem;
}

.list-size .item-list {
    list-style: none;
}

.list-size .item-list-button {
    cursor: pointer;

    padding: 0.5rem;
    background-color: var(--zinc-800);

    font-size: 0.75rem;
    color: var(--paragraph-perfume);

    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;

    transition: all 0.3s ease-in-out;
}

.item-list-button:hover {
    border: 2px solid var(--color-articles);
}

.item-list-button:focus {
    background-color: var(--primary-perfume);
    color: var(--zinc-800);
    border: 2px solid var(--primary-perfume-shadow);

    box-shadow: inset 0px 1px 4px var(--primary-perfume-shadow);
}

.action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--paragraph-perfume);
}

.cart-button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    padding: 0.5rem;
    width: 100%;
    background-image: var(--color-titles);

    font-size: 1rem;
    font-weight: 500;
    color: var(--color-articles);
    text-wrap: nowrap;

    border: 2px solid hwb(56 53% 2% / 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--zinc-800);
}

.cart-button .cart-icon {
    width: 1rem;
}


footer {
    background-color: var(--zinc-800);
    color: var(--color-paragraphs);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

main {
    padding: 40px 20px;
}

#hombre h1 {
    text-align: center;
    color: var(--color-articles);
    margin-bottom: 10px;
    font-size: 2rem;
    margin-top: 4rem;

}

#hombre p {
    text-align: center;
    color: var(--color-titles);
    margin-bottom: 30px;
}

#main-carrucel {
    text-align: center;
    position: relative;
    /* Center text */

}

.carrousel {
    width: 80%;
    justify-self: center;
    margin-top: 80px;

}

.conteCarrousel {
    width: 100%;
    height: 37.5rem;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    display: grid;
    justify-items: center;

}

.itemCarrousel {
    position: relative;
    width: 100%;
    height: 100%;

}

.itemCarrouselTarjeta {
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows {
    position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.itemCarrouselArrows>i:hover {
    cursor: pointer;
}

#itemCarrousel-1 {
    background-color: rgb(27, 27, 27);

}

#itemCarrousel-2 {
    background-color: rgb(32, 32, 32);
}

#itemCarrousel-3 {
    background-color: rgb(5, 5, 5);
}

.conteCarrouselController {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController>a {
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows>a>i {
    color: white;
}

img {
    width: 100%;
    height: auto;
    align-items: center;
    object-fit: contain;

}

.card {
    position: fixed;
    /* Fijo en pantalla */
    bottom: 20px;
    /* Separado 20px del borde inferior */
    left: 1rem;
    /* Separado 20px del borde izquierdo */
    z-index: 9999;
    /* Por encima de otros elementos */

    max-width: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
        inset 0 0 5px rgba(255, 255, 255, 0.274),
        0 5px 5px rgba(0, 0, 0, 0.164);
    transition: 0.5s;
}

.card:hover {
    animation: ease-out 5s;
    background: rgba(173, 173, 173, 0.05);
}

.card ul {
    padding: 1rem;
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.card ul li {
    cursor: pointer;
    position: relative;
}

/* Imagen usada como icono */
.svg-img {
    height: clamp(2.5rem, 3vw, 5rem);
    width: clamp(2.5rem, 3vw, 5rem);
    ;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5),
        0 5px 5px rgba(0, 0, 0, 0.164);
    transition: all 0.3s;
    filter: invert(65%) sepia(54%) saturate(535%) hue-rotate(8deg) brightness(98%) contrast(85%);
}

/* Texto emergente al pasar el mouse */
.text {
    opacity: 0;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s;
    color: rgb(255, 174, 0);
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
        -10px 0 1px rgba(153, 153, 153, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5),
        0 5px 5px rgba(0, 0, 0, 0.082);
}

/* Proyección isométrica al hacer hover */
.iso-pro {
    transition: 0.5s;
}

.iso-pro:hover a>.svg-img {
    transform: translate(15px, -15px);
}

.iso-pro:hover .text {
    opacity: 1;
    transform: translate(25px, -2px) skew(-5deg);
}

.iso-pro:hover .svg-img {
    transform: translate(5px, -5px);
}

/* Círculos de fondo decorativos */
.iso-pro span {
    opacity: 0;
    position: absolute;
    border-color: #1877f2;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5),
        0 5px 5px rgba(0, 0, 0, 0.164);
    border-radius: 50%;
    transition: all 0.3s;
    height: 60px;
    width: 60px;
}

.iso-pro:hover span {
    opacity: 1;
}

.iso-pro:hover span:nth-child(1) {
    opacity: 0.2;
}

.iso-pro:hover span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.iso-pro:hover span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

#container-flayer {
    text-align: center;
    /* Center text */
    padding: 2rem 2rem;
}



.flayer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.8;
    padding: 5rempx;
    border-radius: 10px;

}

.flayer-text {
    text-align: center;
    position: relative;
    color: var(--color-titles);

}

.flayer-text h2 {
    color: var(--color-articles);
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

.flayer-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

#mujer {
    background-color: var(--backgroud-article);
}

#mujer h1 {
    text-align: center;
    color: var(--color-articles);
    margin-bottom: 10px;
    font-size: 2rem;
    margin-top: 4rem;

}

#mujer p {
    text-align: center;
    color: var(--paragraph-perfume);
    margin-bottom: 30px;
}

#nicho {
    background-color: var(--backgroud-article);
}
#nicho h1 {
    text-align: center;
    color: var(--color-articles);
    margin-bottom: 10px;
    font-size: 2rem;
    margin-top: 4rem;

}   
#nicho p {
    text-align: center;
    color: var(--paragraph-perfume);
    margin-bottom: 30px;
}
#invierno {
    background-color: var(--backgroud-article);
}
#invierno h1 {
    text-align: center;
    color: var(--color-articles);
    margin-bottom: 10px;
    font-size: 2rem;
    margin-top: 4rem;

}
#invierno p {
    text-align: center;
    color: var(--paragraph-perfume);
    margin-bottom: 30px;
}
.like-dislike-container {
  --dark-grey: #353535;
  --middle-grey: #767676;
  --lightest-grey: linear-gradient(#fafafa,#ebebeb);
  --shadow: 0 5px 15px 0 #00000026;
  --shadow-active: 0 5px 5px 0 #00000026;
  --border-radius-main: 10px;
  --border-radius-icon: 50px;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  cursor: default;
  color: var(--dark-grey);
  opacity: .9;
  margin: auto;
  padding: 1.5rem;
  font-weight: 600;
  background: var(--lightest-grey);
  max-width: max-content;
  border-radius: var(--border-radius-main);
  box-shadow: var(--shadow);
  transition: .2s ease all;
}

.like-dislike-container:hover {
  box-shadow: var(--shadow-active);
}

.like-dislike-container .tool-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  top: 0;
  right: 0;
  border-radius: var(--border-radius-main);
}

.like-dislike-container .btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: .8rem;
  height: .8rem;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  background-color: #ff000080;
  border: none;
  border-radius: var(--border-radius-main);
  transition: .2s ease all;
}

.like-dislike-container .btn-close:hover {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #ff0000cc;
  box-shadow: var(--shadow-active);
}

.like-dislike-container .btn-close:active {
  width: .9rem;
  height: .9rem;
  font-size: .9rem;
  color: #ffffffde;
  --shadow-btn-close: 0 3px 3px 0 #00000026;
  box-shadow: var(--shadow-btn-close);
}

.like-dislike-container .text-content {
  margin-bottom: 1rem;
  font-size: 18px;
  line-height: 1.6;
  cursor: default;
}

.like-dislike-container .icons-box {
  display: flex;
}

.like-dislike-container .icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .6;
  margin: 0 0.5rem;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--middle-grey);
  border-radius: var(--border-radius-icon);
  transition: .2s ease all;
}

.like-dislike-container .icons:hover {
  opacity: .9;
  box-shadow: var(--shadow);
}

.like-dislike-container .icons:active {
  opacity: .9;
  box-shadow: var(--shadow-active);
}

.like-dislike-container .icons .btn-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
  position: relative;
}

.like-dislike-container .like-text-content {
  border-right: 0.1rem solid var(--dark-grey);
  padding: 0 0.6rem 0 0.5rem;
  pointer-events: none;
}

.like-dislike-container .dislike-text-content {
  border-left: 0.1rem solid var(--dark-grey);
  padding: 0 0.5rem 0 0.6rem;
  pointer-events: none;
}

.like-dislike-container .icons .svgs {
  width: 1.3rem;
  fill: #000000;
  box-sizing: content-box;
  padding: 10px 10px;
  transition: .2s ease all;
}

/* Hide the default checkbox */
.like-dislike-container .icons .input-box {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.like-dislike-container .icons #icon-like-regular {
  display: block;
}

.like-dislike-container .icons #icon-like-solid {
  display: none;
}

.like-dislike-container .icons:hover :is(#icon-like-solid, #icon-like-regular) {
  animation: rotate-icon-like 0.7s ease-in-out both;
}

.like-dislike-container .icons #like-checkbox:checked ~ #icon-like-regular {
  display: none;
  animation: checked-icon-like 0.5s;
}

.like-dislike-container .icons #like-checkbox:checked ~ #icon-like-solid {
  display: block;
  animation: checked-icon-like 0.5s;
}

.like-dislike-container .icons #icon-dislike-regular {
  display: block;
  transform: rotate(180deg);
}

.like-dislike-container .icons #icon-dislike-solid {
  display: none;
  transform: rotate(180deg);
}

.like-dislike-container .icons:hover :is(#icon-dislike-solid, #icon-dislike-regular) {
  animation: rotate-icon-dislike 0.7s ease-in-out both;
}

.like-dislike-container .icons #dislike-checkbox:checked ~ #icon-dislike-regular {
  display: none;
  animation: checked-icon-dislike 0.5s;
}

.like-dislike-container .icons #dislike-checkbox:checked ~ #icon-dislike-solid {
  display: block;
  animation: checked-icon-dislike 0.5s;
}

.like-dislike-container .icons .fireworks {
  transform: scale(0.4);
}

.like-dislike-container .icons #like-checkbox:checked ~ .fireworks > .checked-like-fx {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 40px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s fireworks-bang ease-out forwards, 1s fireworks-gravity ease-in forwards, 5s fireworks-position linear forwards;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

.like-dislike-container .icons #dislike-checkbox:checked ~ .fireworks > .checked-dislike-fx {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 40px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s fireworks-bang ease-out forwards, 1s fireworks-gravity ease-in forwards, 5s fireworks-position linear forwards;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

/* Shake Animation */
@keyframes rotate-icon-like {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes rotate-icon-dislike {
  0% {
    transform: rotate(180deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(183deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(177deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(181deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(180deg) translate3d(0, 0, 0);
  }
}

/* Checked Animation */
@keyframes checked-icon-like {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2) rotate(-10deg);
  }
}

@keyframes checked-icon-dislike {
  0% {
    transform: scale(0) rotate(180deg);
    opacity: 0;
  }

  50% {
    transform: scale(1.2) rotate(170deg);
  }
}

/* Fireworks Animation */
@keyframes fireworks-position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes fireworks-gravity {
  to {
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes fireworks-bang {
  to {
    box-shadow: 114px -107.3333333333px #8800ff, 212px -166.3333333333px #a600ff, 197px -6.3333333333px #ff006a, 179px -329.3333333333px #3300ff, -167px -262.3333333333px #ff0062, 233px 65.6666666667px #ff008c, 81px 42.6666666667px #0051ff, -13px 54.6666666667px #00ff2b, -60px -183.3333333333px #0900ff, 127px -259.3333333333px #ff00e6, 117px -122.3333333333px #00b7ff, 95px 20.6666666667px #ff8000, 115px 1.6666666667px #0004ff, -160px -328.3333333333px #00ff40, 69px -242.3333333333px #000dff, -208px -230.3333333333px #ff0400, 30px -15.3333333333px #e6ff00, 235px -15.3333333333px #fb00ff, 80px -232.3333333333px #d5ff00, 175px -173.3333333333px #00ff3c, -187px -176.3333333333px #aaff00, 4px 26.6666666667px #ff6f00, 227px -106.3333333333px #ff0099, 119px 17.6666666667px #00ffd5, -102px 4.6666666667px #ff0088, -16px -4.3333333333px #00fff7, -201px -310.3333333333px #00ffdd, 64px -181.3333333333px #f700ff, -234px -15.3333333333px #00fffb, -184px -263.3333333333px #aa00ff, 96px -303.3333333333px #0037ff, -139px 10.6666666667px #0026ff, 25px -205.3333333333px #00ff2b, -129px -322.3333333333px #40ff00, -235px -187.3333333333px #26ff00, -136px -237.3333333333px #0091ff, -82px -321.3333333333px #6a00ff, 7px -267.3333333333px #ff00c8, -155px 30.6666666667px #0059ff, -85px -73.3333333333px #6a00ff, 60px -199.3333333333px #55ff00, -9px -289.3333333333px #00ffaa, -208px -167.3333333333px #00ff80, -13px -299.3333333333px #ff0004, 179px -164.3333333333px #ff0044, -112px 12.6666666667px #0051ff, -209px -125.3333333333px #ff00bb, 14px -101.3333333333px #00ff95, -184px -292.3333333333px #ff0099, -26px -168.3333333333px #09ff00, 129px -67.3333333333px #0084ff, -17px -23.3333333333px #0059ff, 129px 34.6666666667px #7300ff, 35px -24.3333333333px #ffd900, -12px -297.3333333333px #ff8400, 129px -156.3333333333px #0dff00, 157px -29.3333333333px #1a00ff, -221px 6.6666666667px #ff0062, 0px -311.3333333333px #ff006a, 155px 50.6666666667px #00ffaa, -71px -318.3333333333px #0073ff;
  }
}